
Week21/.metadata/.lock
Week21/.metadata/.log
Week21/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
Week21/.metadata/.plugins/org.eclipse.core.resources/.projects/week21/.location
Week21/.metadata/.plugins/org.eclipse.core.resources/.projects/week21/.markers
Week21/.mvn/wrapper/maven-wrapper.properties
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.metadata/version.ini
Week21/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Week21/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Week21/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Week21/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
Week21/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Week21/.metadata/.plugins/org.eclipse.m2e.logback/0.log
Week21/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Week21/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Week21/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Week21/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Week21/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Week21/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Week21/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Week21/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Week21/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Week21/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Week21/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
Week21/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Week21/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.100.20230106-1511.xml
Week21/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Week21/.metadata/.plugins/org.eclipse.jdt.core/3392728642.index
Week21/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
Week21/.metadata/.plugins/org.eclipse.jdt.core/119084844.index
Week21/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
Week21/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Week21/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Week21/.mvn/wrapper/maven-wrapper.jar
Week21/.metadata/.plugins/org.eclipse.ui.intro/introstate
Week21/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Week21/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Week21/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Week21/.metadata/.plugins/org.eclipse.core.resources/.projects/week21/org.eclipse.jdt.core/state.dat
Week21/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Week21/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Week21/mvnw.cmd
Week21/mvnw
